.pagination {
  display: flex;
  justify-content: space-between;

  &__container {
    max-width: 200px;
    margin: 20px auto 10px auto;
  }

  &__page {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }

  &__selected {
    border: 2px solid gray;
    font-weight: 700;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }

  &__btn {
    padding: 3px 8px;
    border: 1px solid #000;
  }
}